/*Import you font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --broadcaster-color: rgb(211, 174, 107);
    --viewer-color: rgb(154, 208, 252);
    --moderator-color: rgb(87, 211, 153);


}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* .main-container{

} */

/* .user-box{

} */

/* .user-message{

} */

/* .event{

} */

/* .event-message{

} */

.badge{
    width: 18px;
    height: auto;
}

.broadcaster{
    background-color: rgb(211, 174, 107);
}

.viewer{
    background-color: rgb(154, 208, 252);
}

/* .moderator{
    background-color: rgb(87, 211, 153);
} */

.user-message{
    height: auto;
    width: 100%;
    padding: 10px;
    position: relative;
    font-size: 20px;
    color: white;
    background-color: black;
}

.user-message:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.test-container{
    width: 400px;
    height: 700px;
    border: 2px solid black;
    background-color: red;
    z-index: -1;
}

.test-message-row{
    position: relative;
    background-color: black;
    color: white;
    clip-path: polygon(0 5%, 100% 0, 95% 100%, 3% 100%);
}

.test-wrapper-wrapper{
    position: relative;
    max-width: 400px;
    height: auto;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.test-tail{
    position: absolute;
    bottom: -15px;
    left: -30px;
    width: 50px; /* plus petit */
    height: 50px;
    background-color: black; /* couleur de la bulle */
    clip-path: polygon(0 100%, 42% 74%, 14% 46%, 100% 0, 100% 42%, 50% 56%, 67% 82%);
    z-index: 2;
}

.test-tail-shadow{
    position: absolute;
    bottom: -15px;
    left: -30px;
    width: 50px; /* un peu plus grand que la queue */
    height: 50px;
    background-color: white; /* couleur du contour */
    clip-path: polygon(0 100%, 25% 74%, 0% 40%, 100% 0, 100% 50%, 63% 60%, 73% 90%);
    z-index: 0;
}

.test-message{
    line-height: 1.4;
    padding: 1em 1.5em 1em 2em;
}

.test-wrapper{
    position: relative;
    background-color:white;
    clip-path: polygon(0 5%, 100% 0, 95% 100%, 3% 100%);
    padding: 0.5em 1em 0.3em 0.4em;
    z-index: 1
}